<%- include('layouts/header') %>
<body>
    <main>
        <H2>That page wasn't found</H2>
        <a href="javascript:history.back()">Back</a>

           
    </main>
</body>
<%- include('layouts/footer') %>