<%- include('layouts/header') %>
<body>
    <main>
        
        <h1>Spending Tracker</h1>
        <h3>By: Brian Liu</h3>
        <br>
        <h5><a href="https://github.com/brianliu108/spendingtracker">Github</a></h5>
        <h5><a href="https://www.linkedin.com/in/brian-nhu-liu/">LinkedIn</a></h5>
        <h5><a href="mailto:brianliu108@gmail.com">Email</a> - brianliu108@gmail.com</h5>
        <br><br>

        <h3>This app was built with:</h3>
        <h5>Front End: HTML, CSS, Bootstrap, jQuery, SlickNav</h5>
        <h5>Back End: Node.js, Express, MongoDB, bCrypt</h5>
        <br>

        <h5><a href="/">Go To The App!</a></h5>
    </main>
    
</body>
<%- include('layouts/footer') %>