<%- include('layouts/header') %>
<body>
    <main>
        <h1>Welcome!</h1>
        <p>some text some text</p>

        <form action="" method="POST" name="myform" onsubmit="return true;">
            <div class="fields-wrapper">
                
            </div>
        </form>
    </main>
    
</body>
<%- include('layouts/footer') %>