<%- include('../layouts/header') %>
<body>
    <main>
        <h1>Edit <%= category.name %></h1>
        <form action="" method="POST" onsubmit="return true;">
            <% if(typeof(errors) != 'undefined'){%>
                <% for (let i = 0; i < errors.length; i++) {%>
                    <p class="validationMessage" id="loginValidation"><%= errors[i] %></p>                    
               <% } %>                                
            <%} %>              
            <div class="fields-wrapper">
                <label for="categoryName">Name</label>
                <input class="formInput" type="text" name="categoryName">
                <span class="validationMessage" id="catANameVal"></span>
            </div>
            <div class="fields-wrapper">
                <input class="btn btn-primary submitButton" type="submit" value="Submit">
            </div>
            
        </form>
        <a href="javascript:history.back()">Back</a>
    </main>
    
</body>
<%- include('../layouts/footer') %>