<%- include('../layouts/header') %>
<body>
    <main>
        <h1>Transactions</h1>
        <a href="/transactions/add" class="btn btn-primary">+Income</a>
        <a href="/transactions/add" class="btn btn-primary">+Expense</a>     
    </main>
    
</body>
<%- include('../layouts/footer') %>