<%- include('../layouts/header') %>
<body>
    <main>
        <h1>Transactions</h1>
        <a href="/transactions/add">New Transaction</a>
    </main>
    
</body>
<%- include('../layouts/footer') %>